<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      Basic Creation
    </h5>
    <hr>
    <div class="card">
      <div class="card-body">
        <h5 class="title">Observable From and Of</h5>
        <br>
        <p *ngIf="observableFromAndOf$ | async as data">
          {{data.name}} {{data.lastName}}
        </p>

        <hr>

        <h5 class="title">Observable Timer and Interval</h5>
        <br>
        <p>
          Contagem começando em:
          {{timerCount}}
        </p>
        <p>
          Contagem: {{timerIteration}}
        </p>
      </div>

    </div>
  </div>
</div>
