<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>

  <p>
    Accessibility
    By default, each dialog has role="dialog" on the root element. The role can be changed to alertdialog via the
    MatDialogConfig when opening.

    The aria-label, aria-labelledby, and aria-describedby attributes can all be set to the dialog element via the
    MatDialogConfig as well. Each dialog should typically have a label set via aria-label or aria-labelledby.

    When a dialog is opened, it will move focus to the first focusable element that it can find. In order to prevent
    users
    from tabbing into elements in the background, the Material dialog uses a focus trap to contain focus within itself.
    Once a dialog is closed, it will return focus to the element that was focused before the dialog was opened.

    If you're adding a close button that doesn't have text (e.g. a purely icon-based button), make sure that it has a
    meaningful aria-label so that users with assistive technology know what it is used for.

    Focus management
    By default, the first tabbable element within the dialog will receive focus upon open. This can be configured by
    setting the cdkFocusInitial attribute on another focusable element.

    Tabbing through the elements of the dialog will keep focus inside of the dialog element, wrapping back to the first
    tabbable element when reaching the end of the tab sequence.

    Keyboard interaction
    By default pressing the escape key will close the dialog. While this behavior can be turned off via the disableClose
    option, users should generally avoid doing so as it breaks the expected interaction pattern for screen-reader users.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
