<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">RXJS Operators</h5>
      <hr>
      <div class="row">
        <div class="col-3">
          <div class="form-check">
            <input type="radio" class="form-check-input" [(ngModel)]="option" value="observables" id="opt1">
            <label class="form-check-label" for="opt1">Observables</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" [(ngModel)]="option" value="operators" id="opt2">
            <label class="form-check-label" for="opt2">Operators</label>
          </div>

        </div>
        <div class="col-9">
          <ng-container [ngSwitch]="option">
            <div *ngSwitchCase="'observables'">
              <app-basic-creation></app-basic-creation>
            </div>
            <div *ngSwitchCase="'operators'">
              <app-operators></app-operators>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
